altgraph==0.17.4
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
Deprecated==1.2.14
docopt==0.6.2
docutils==0.21.2
et-xmlfile==1.1.0
git-lint==0.1.2
html-linter==0.4.0
idna==3.7
numpy==2.0.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pathlib2==2.3.7.post1
pefile==2023.2.7
pycparser==2.22
PyGithub==2.3.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PyJWT==2.8.0
PyNaCl==1.5.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
template-remover==0.1.9
termcolor==2.4.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wrapt==1.16.0
